#####################################################################
#   MCU / Printer
#####################################################################
[printer]
kinematics: corexy
max_velocity: 350
max_accel: 4500
max_z_velocity: 40
max_z_accel: 150
square_corner_velocity: 5.0


#####################################################################
#   Probe optotap
#####################################################################




#termistorn för kammaren
#[temperature_sensor chamber]
#sensor_type: Generic 3950       # Standard NTC100K (ändra om du har t.ex. PT100/PT1000/ATC Semitec)
#sensor_pin: PF7                 # Thermistor-port T3 på Octopus Pro v1.0
#min_temp: 0
#max_temp: 100
#gcode_id: C

[output_pin chamber_led]
pin: PB11
pwm: False
value: 0
shutdown_value: 0

##### INCLUDES
[include mainsail.cfg]
[exclude_object]

#System configs
[include system/nevermore.cfg]
[include system/electronics_fan.cfg]
[include system/preheat_asa_macro.cfg]
[include system/idle_timeout.cfg]
[include system/chamberleds.cfg]
[include system/squiggly_purge.cfg]

##MOTION
[include motion/qgl.cfg]
[include motion/force_move.cfg]
[include motion/safe_z_home.cfg]

#Core config
#[include BTT_Pi.cfg]
[include core/bed.cfg]
[include core/steppers.cfg]
[include core/mcu.cfg]
[include core/inputshaper.cfg]

#MACROS
[include macros/macros.cfg]
#[include macros/macro_pause.cfg]
#[include macros/macro_resume.cfg]
#[include macros/bed_mesh_fast.cfg]
[include macros/print_start.cfg]
[include macros/print_end.cfg]
[include macros/heatsoak.cfg]


[include toolhead/T0.cfg]
[include toolhead/T1.cfg]


[include toolchanger/readonly-configs/toolchanger-include.cfg]

#####################################################################
#   Basic Macros
#####################################################################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 34.564
#*# pid_ki = 1.302
#*# pid_kd = 229.420
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 40.791
#*# pid_ki = 8.498
#*# pid_kd = 48.949
