[gcode_macro PRINT_END]
gcode:

    SAVE_GCODE_STATE NAME=STATE_PRINT_END

    M400
    G92 E0
    G1 E-5.0 F1800

    TURN_OFF_HEATERS
    M107

    # Lyft 10 mm, men inte över max Z
    G91
    {% set z_lift = [10, printer.toolhead.axis_maximum.z - printer.toolhead.position.z]|min %}
    G0 Z{z_lift} F1200

    # Parkera bak i mitten
    G90
    G0 X{printer.toolhead.axis_maximum.x / 2} Y{printer.toolhead.axis_maximum.y - 5} F12000

    BED_MESH_CLEAR

    RESTORE_GCODE_STATE NAME=STATE_PRINT_END MOVE=0