[output_pin chamber_led]
pin: PB11
pwm: True
value: 0.0
shutdown_value: 0.0


[gcode_macro SET_CHAMBER_LED]
description: Ställ kammarbelysningen mellan 0 och 100 procent
gcode:
    {% set percent = params.PERCENT|default(100)|float %}
    {% set percent = 0 if percent < 0 else 100 if percent > 100 else percent %}
    SET_PIN PIN=chamber_led VALUE={percent / 100}


######### SNABBKOMMANDON ################

[gcode_macro LED_ON]
description: Kammarbelysning 100 procent
gcode:
    SET_CHAMBER_LED PERCENT=100


[gcode_macro LED_DIM]
description: Kammarbelysning 50 procent
gcode:
    SET_CHAMBER_LED PERCENT=50


[gcode_macro LED_OFF]
description: Släck kammarbelysningen
gcode:
    SET_CHAMBER_LED PERCENT=0